<style>
  .espacio_superior {
    margin-top: 150px;
  }

  .espacio_inferior {
    margin-bottom: 200px;
  }

  .table {
    table-layout: fixed;
  }

  .table tr {
    text-align: center;
  }

  .table td {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    max-width: 200px;
    text-align: center;
  }
</style>

<div class="container text center espacio_superior">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre Completo</th>
        <th scope="col">Email</th>
        <th scope="col">Telefono</th>
        <th scope="col">Mensaje</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <!--se utiliza en handlebars como un for -->
      {{#each clientes}}
      <tr>
        <th scope="row">{{idPersona}}</th>
        <td>{{nombreCompleto}}</td>
        <td>{{email}}</td>
        <td>{{telefono}}</td>
        <td>{{mensaje}}</td>
      </tr>
      {{/each }}
      {{#unless clientes}}
      <tr>
        <td class="text-center" colspan="5">No hay clientes en la base.</td>
      </tr>
      {{/unless}}
    </tbody>
  </table>

  <!-- Creamos un modal para eliminar un contacto de ngen -->
  <form action="/api/login/borrar" method="post">
    <div class="modal" id="deleteModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Eliminar Contacto</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <label for="idPersona">Seleccione el ID para eliminar</label>
            <input type="number" id="idPersona" name="idPersona">
          </div>
          <div class="modal-body">
            <p>¿Seguro desea eliminar este contacto?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-danger">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
  </form>


  <!-- Modal para actualizar los datos del cliente -->
  <form action="/api/login/actualizar" method="post">
    <div class="modal" id="editModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Actualizar Contacto</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <label for="idPersona">Seleccione el ID para actualizar</label>
            <input type="number" id="idPersona" name="idPersona">
          </div>
          <div class="modal-body">
            <p>¿Seguro desea actualizar este contacto?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-danger">Actualizar</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!-- Botones para eliminar/actualizar contacto  -->
  <div class="container text-center espacio_inferior " id="boton">
    <button type="button" class="btn btn-info w-25 edit"> Actualizar Contactos</button>
    <button type="button" class="btn btn-danger w-25 delete">Eliminar Contactos</button>
  </div>

  <!-- Linkeamos el Jquery que nos permite hacer un modal rapido  -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

  <script>
    //modal del delete
    $('#boton').on('click', '.delete', function () {
      $('#deleteModal').modal('show');
    })

    //modal actualizar
    $('#boton').on('click', '.edit', function () {
      $('#editModal').modal('show');
    })
  </script>

</div>